.home-container {
    background: linear-gradient(135deg, #1B8AF1, #B58DED);
    height: 100vh;
    width: 100%;
    color: black;
    text-align: left !important;
}
.custom-card {
    width:100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.task-list li {
    background: khaki;
    width: 100%;
    margin: 8px auto;
    text-align: center !important;
    padding: 50px;
    text-align:right;
    font-family: 'arial', sans-serif;
    font-weight: bold;
    color: black;
    padding:15px;
    display:block;
    background-image: linear-gradient(to left, transparent, transparent 50%, #1B8AF1 50%, #1B8AF1);
    background-position: 100% 0;
    background-size: 200% 100%;
    transition: all 0.25s ease-in;
}

.task-list li:hover {
    background-position: 0 0;
    color:white;
    cursor: pointer;
}

.custom-active {
    background-color: #1B8AF1 !important;
    color: white !important;
}