@media all and (min-width: 480px) {
    .Login {
      padding: 60px 0;
      border-radius: 22px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      display: inline-block;
      background: #FFFFFF;
      width: 434px;
      height: 700px;
      margin-top: 2em;
      text-align: left;
    }
  
    .Login form {
      margin: 0 auto;
      max-width: 320px;
    }
}

.login-container {
    background: linear-gradient(135deg, #1B8AF1, #B58DED);
    height: 100vh;
    width: 100%;
    text-align: center !important;
}
.signup-link {
    margin-top: 1em;
}
.signup-link strong {
   color: #5aaaff;
   cursor: pointer;
}
button {
    cursor: pointer;
}
.custom-button:hover {
    background: #1262b8 !important;
}