.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.heading {
  font-size: 32px;
  position: relative;
  text-align: center;
  margin-bottom: 100px;
  font-weight: bold;
}
.heading:after {
  position: absolute;
  bottom: -10px;
  left: 50%;
  content: "";
  transform: translateX(-50%);
  width: 100px;
  height: 2px;
  background: #5aaaff;
}